USE [master]
GO
/****** Object:  Database [SAFEKEEP]    Script Date: 11/06/2026 4:53:58 pm ******/
CREATE DATABASE [SAFEKEEP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAFEKEEP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SAFEKEEP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAFEKEEP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SAFEKEEP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAFEKEEP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAFEKEEP]
GO
/****** Object:  Table [dbo].[Audit_Log]    Script Date: 11/06/2026 4:53:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log](
	[log_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[event_type] [varchar](50) NOT NULL,
	[event_details] [text] NULL,
	[status] [bit] NOT NULL,
	[event_timestamp] [datetime] NOT NULL,
	[face_snapshot] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Email_Notification]    Script Date: 11/06/2026 4:53:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_Notification](
	[notification_id] [int] NOT NULL,
	[transaction_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[message] [text] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[sent] [datetime] NULL,
	[delivered] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPS]    Script Date: 11/06/2026 4:53:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPS](
	[gps_id] [int] NOT NULL,
	[serial_number] [varchar](100) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gps_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[serial_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Key_Transaction]    Script Date: 11/06/2026 4:53:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Key_Transaction](
	[transaction_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[key_id] [int] NOT NULL,
	[schedule_id] [int] NULL,
	[checkout_time] [datetime] NOT NULL,
	[return_time] [datetime] NULL,
	[status] [varchar](20) NOT NULL,
	[rfid_verified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Key_Unit]    Script Date: 11/06/2026 4:53:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Key_Unit](
	[key_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[key_label] [varchar](50) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[gps_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[gps_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 11/06/2026 4:53:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[room_id] [int] NOT NULL,
	[room_name] [varchar](100) NOT NULL,
	[room_code] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[room_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 11/06/2026 4:53:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[schedule_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[schedule_date] [date] NOT NULL,
	[time_start] [time](7) NOT NULL,
	[time_end] [time](7) NOT NULL,
	[subject_code] [varchar](20) NULL,
	[section] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/06/2026 4:53:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] NOT NULL,
	[password] [varchar](255) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[role] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audit_Log] ADD  DEFAULT (getdate()) FOR [event_timestamp]
GO
ALTER TABLE [dbo].[Key_Transaction] ADD  DEFAULT (getdate()) FOR [checkout_time]
GO
ALTER TABLE [dbo].[Key_Transaction] ADD  DEFAULT ((0)) FOR [rfid_verified]
GO
ALTER TABLE [dbo].[Audit_Log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Email_Notification]  WITH CHECK ADD FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Key_Transaction] ([transaction_id])
GO
ALTER TABLE [dbo].[Email_Notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Key_Transaction]  WITH CHECK ADD FOREIGN KEY([key_id])
REFERENCES [dbo].[Key_Unit] ([key_id])
GO
ALTER TABLE [dbo].[Key_Transaction]  WITH CHECK ADD FOREIGN KEY([schedule_id])
REFERENCES [dbo].[Schedule] ([schedule_id])
GO
ALTER TABLE [dbo].[Key_Transaction]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Key_Unit]  WITH CHECK ADD FOREIGN KEY([gps_id])
REFERENCES [dbo].[GPS] ([gps_id])
GO
ALTER TABLE [dbo].[Key_Unit]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Room] ([room_id])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Room] ([room_id])
GO
ALTER TABLE [dbo].[Audit_Log]  WITH CHECK ADD CHECK  (([event_type]='RFID_DEACTIVATED' OR [event_type]='RFID_ASSIGNED' OR [event_type]='FACULTY_UPDATED' OR [event_type]='FACULTY_CREATED' OR [event_type]='SCHEDULE_UPDATED' OR [event_type]='SCHEDULE_CREATED' OR [event_type]='SCHEDULE_CONFLICT' OR [event_type]='KEY_OVERDUE' OR [event_type]='KEY_RETURNED' OR [event_type]='KEY_DISPENSED' OR [event_type]='AUTH_RFID_FAILED' OR [event_type]='AUTH_RFID_SUCCESS'))
GO
ALTER TABLE [dbo].[Email_Notification]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='delivered' OR [status]='sent' OR [status]='pending'))
GO
ALTER TABLE [dbo].[GPS]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[Key_Transaction]  WITH CHECK ADD CHECK  (([status]='overdue' OR [status]='returned' OR [status]='dispensed'))
GO
ALTER TABLE [dbo].[Key_Unit]  WITH CHECK ADD CHECK  (([status]='borrowed' OR [status]='available'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='faculty' OR [role]='staff' OR [role]='admin'))
GO
USE [master]
GO
